.s-form
  .form

      .form-group
        input(type="text", id="project-name" name="project-name", title=content.form.TITLE_PROJECT_NAME required)
        label(for="project-name")= content.form.LABEL_PROJECT_NAME

      .form-group
        input(type="text", id="page-title" name="page-title", title=content.form.TITLE_PAGE_TITLE required)
        label(for="page-title")= content.form.LABEL_PAGE_TITLE

      .form-group
        input(type="text", id="developer-name" name="developer-name", title=content.form.TITLE_DEVELOPER_NAME required)
        label(for="developer-name")= content.form.LABEL_DEVELOPER_NAME

      span#generated-date

.s-meta

  button.button.btn--danger.js-reset-all
    +svg-icon.icon.icon-reset(data-icon-name='reset')
    | #[=content.form.BUTTON_START_NEW]
